

.box-add-course {
    display: none;
    grid-template-rows: 100%;
    grid-template-columns: 25% 50% 25%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    overflow: hidden;
    background-color: rgba(139, 137, 137, 0.897);
}


.box-add-course-content {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-template-rows: 2% 10% 15% 10% 20% 15% 33%;
    grid-template-columns: 100%;
    background-color: white;
    width: 97%;
    height: 97%;
    border-radius: 2em;
    overflow: hidden;
}

.box-input-add-course {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
}


.style-box-input-add-course {
    justify-self: center;
    align-self: flex-end;
    width: 80%;
    height: 80%;
    background-color: transparent;
    border-radius: 2em;
    border-style: solid;
    border-color: cyan;
    color: rgb(143, 140, 140);
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

.box-input-option-materias {
    grid-row-start: 3;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
}

.style-box-input-option-materias {
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 40%;
    border-style: solid;
    border-color: cyan;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.style-input-horario {
    justify-self: center;
    align-self: flex-end;
    border-radius: 1em;
    border-style: solid;
    border-color: cyan;
    color: gray;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
    height: 80%;
}

.style-bottom-input-guardar {
    justify-self: center;
    align-self: flex-start;
    width: 30%;
    height: 27%;
    background-color: rgba(26, 26, 196, 0.87);
    border-radius: 2em;
    border-style: solid;
    border-color: cyan;
    color: white;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

.style-bottom-off {
    background-color: gray;
}

.style-correcto {
    border-color: green !important;
}

.style-incorrecto {
    border-color: red !important;
}

.style-input-horario:focus {
    outline: none;
}

.style-box-input-option-materias:focus {
    outline: none;
}

.style-box-input-add-course:focus {
    outline: none;
}

#course-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#course-2 {
    grid-row-start: 4;
    grid-row-end: 4;
}

#course-3 {
     grid-row-start: 5;
    grid-row-end: 5;   
}

#course-4 {
    grid-row-start: 6;
    grid-row-end: 6;
}

#course-5 {
    grid-row-start: 7;
    grid-row-end: 7;
}